.liveList-bg{
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
}
.live-square{
  position: relative;
  float: left;
  margin-top: 10px;
  box-sizing: border-box;
  width: 50%;
  height: 174px;
  padding-left: 5px;
  padding-right: 5px;
}
.live-square .img-corner{
  z-index: 100;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  //margin: 0 5px;
}
.live-style{
  position: absolute;
  z-index: 105;
  left: 20px;
  top: 10px;
  //width: 44px;
  height: 14px;
  font-size: 11px;
  color: #ffffff;
}
.live-status{
  display: inline-block;
  float: left;
  //width: 44px;
  height: 14px;
  line-height: 14px;
  padding: 2px 5px;
}
.live-status1{
  background: -webkit-linear-gradient(#FF5533, #FF5151); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#FF5533, #FF5151); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#FF5533, #FF5151); /* Firefox 3.6 - 15 */
  background: linear-gradient(#FF5533, #FF5151); /* 标准的语法 */
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.live-num{
  background: rgba(0,0,0,.6);
}

.live-bt{
  position: absolute;
  z-index: 105;
  left: 20px;
  bottom: 10px;
  font-size: 11px;
  color: #ffffff;
}
.live-title{
  height: 36px;
  line-height: 36px;
  color: #1a1a1a;
}

.live-bt img,.live-title img{
  display: inline-block;
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}
.live-bt span,.live-title span{
  display: inline-block;
  float: left;
  padding: 4px 5px;
}

//底部栏
.live-bottom{
  position: fixed;
  background-color: #ffffff;
  color: #1A1A1A;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 44px;
  line-height: 44px;
  font-size: 13px;
  text-align: center;
}
//缺省页
.liveList-bg{
  .ent-img{
    img{
      display: block;
      width: 2rem;
      height: 2rem;
      margin: 0.7rem auto 0 auto;
    }
  }
}
